#include "version.h"
#include <winres.h>

//IDI_ICON1               ICON                    PRODUCT_ICON

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

VS_VERSION_INFO VERSIONINFO
    FILEVERSION VER_FILEVERSION
    PRODUCTVERSION VER_PRODUCTVERSION
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS 0x1L
#else
    FILEFLAGS 0x0L
#endif
    FILEOS 0x4L
    FILETYPE 0x1L
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "Comments", ""
            VALUE "CompanyName", PRODUCT_COMPANY_NAME
            VALUE "FileDescription", ""
            VALUE "FileVersion", VER_FILEVERSION_STR
            VALUE "InternalName", PRODUCT_NAME
            VALUE "LegalCopyright", PRODUCT_COMPANY_COPYRIGHT
            VALUE "OriginalFilename", ""
            VALUE "ProductName", PRODUCT_NAME
            VALUE "ProductVersion", VER_PRODUCTVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END