QFrame#frMainFrame
{
	border: 1px solid #000000;	
}

QLabel#lblTitle1
{
	color:#e6e6e6;
	padding-left:10px;
	padding-right:0px;
	margin-right:0px;
	font: 12pt "CachetBold";
}

QLabel#lblTitle2
{
	color:#4d4d4d;
	padding-left:0px;
	margin-left:0px;
	font: 12pt "CachetBold";
}

QAbstractButton#btnClose,
QAbstractButton#btnMinimize,
QAbstractButton#btnRestoreMax
{
	color:#808080;
	font: 16pt "CachetBold";
}

QFrame#frTitle
{
	background-color: #000000;
	border: 0px solid #285e8e;	
}

QFrame#frStatus
{
	background-color: #e6e6e6;
	border-top: 1px solid #000000;	
    border-bottom: 4px solid #4d4d4d;
    border-right: 0px solid #285e8e;
    border-left: 0px solid #285e8e;
}



QPushButton#btnClose,
QPushButton#btnMinimize,
QPushButton#btnRestoreMax
{
	border:none;
    border-left: 1px solid #e6e6e6;
	background-color: #000000;
 
}	


QFrame#frMenuButtons
{
	background-color: #e6e6e6;
	min-height:  50px;
	max-height:  50px;
}

QFrame#frStatus
{
	min-height:  10px;
	max-height:  10px;
}

QFrame#frMenuLangPick
{
 margin-top:0px;
}



QPushButton#btnTools,
QPushButton#btnLanguages
{
	background-color: #e6e6e6;
	border:none;
    color: #333333;
	font: 14pt "CachetBold";
   text-align:left;
   padding-left:40px;
	min-height:  50px;
	max-height:  50px;
 padding-top:0px;
 padding-bottom:0px;

}

QPushButton#btnTools
{
	min-width:  318px;
	 max-width:  318px;
}

QPushButton#btnAbout
{
	background-color: #e6e6e6;
	border-style: solid;
	border:none;
     color: #333333;
	font: 18pt "CachetBold";
}

QPushButton#btnLanguages
{
    border-left: 1px solid #000000;

}

QPushButton#btnTools:hover,
QPushButton#btnLanguages:hover,
QPushButton#btnAbout:hover
{
	color: #fff;
}



QLabel#lblSplash
{
	background-color: #000000;
   padding-left:0px;
  }

QToolBox{
	background-color: #000000;
	
	font: 14pt "CachetBold";
}
QToolBox QWidget{
	background: transparent;
}

QToolBox QAbstractButton{
	background: transparent;
	color: rgb(209, 139, 0);
	border-style: solid;
	font: 12pt "CachetBold";
   border-width:0px;
  text-align:left;
	padding-left:60px;
  height:40px;
}

QToolBox::tab{
  background:   transparent;
	border:none;
     border-top-width:1px;
      color: darkgray;
	 border-color:#4d4d4d;
   border-style: solid;
   padding-left:10px;
   margin-left:20px;
   margin-right:20px;

	font: 12pt "CachetBold";
}

 QToolBox::tab:selected { /* italicize selected tabs */
     color: darkgray;
    border-bottom-width:0px;
}

QToolBox::tab:first { 
     color: darkgray;
      border-top-width:0px;
 }

QToolBox QAbstractButton#qt_toolbox_toolboxbutton { 
  background:   transparent;
	border:none;
       color: darkgray;
	 border-color:#4d4d4d;
   border-style: solid;
   padding-left:10px;
   margin-left:20px;
   margin-right:20px;

	font: 12pt "CachetBold";
 }
 

QLabel#lblAppLogo
{
  padding-left:20px;
}

QFrame#frContent
{
	border-style: solid;
	border-width: 0px;	
	background-color: #1a1a1a;
	color:#e6e6e6;
}

QFrame#frContent QPushButton,
QFrame#frContent QLabel,
QFrame#frContent QCheckBox
QFrame#frContent QRadioButton
{
	color:#e6e6e6;
	background-color: #1a1a1a;

}

QFrame#frContent QLabel,
QFrame#frContent QCheckBox,
QFrame#frContent QRadioButton
{
	font: 10pt "MS Shell Dlg 2";
}

QFrame#frContent QPushButton
{
	border: 1px solid #4d4d4d;	
	border-radius:5px;
	padding:5px 5px 5px 5px;
	min-height:  18px;
	max-height:  18px;
	min-width:  120px;
	max-width:  120px;
	text-align: left;
	color:#e6e6e6;
	font: 10pt "CachetBold";
}

QFrame#frContent QPushButton:disabled
{
	text-decoration:none;
	color:#1a1a1a;
	background-color:#1a1a1a;
	border: 1px solid #4d4d4d;	
}

QFrame#frContent QPushButton:pressed
{
	padding:6px 5px 5px 5px;
  	color:#ffffff;	
}

QFrame#frContent QPushButton:hover
{
	padding:7px 5px 5px 5px;
}

QFrame#frContent QPushButton:focus
{
	border: 1px solid #4d4d4d;	
}

QFrame#frContent QLineEdit,
QFrame#frContent QPlainTextEdit
{ 
  	color:#e6e6e6;
	background: #e6e6e6;
 	background-color: #1a1a1a;
	border: 1px solid #4d4d4d;	
     border-radius: 5px;
     padding: 0px;
     selection-background-color: darkgray;
}

QFrame#frContent QSpinBox,
QFrame#frContent QProgressBar,
 QFrame#frContent QLineEdit
{
	min-height:  25px;
	max-height:  25px;
}

QFrame#frContent QLineEdit,
QFrame#frContent QPlainTextEdit,
QFrame#frContent QSpinBox,
QFrame#frContent QProgressBar 
{
		font: 10pt "MS Shell Dlg 2";
}

QFrame#frContent QPlainTextEdit
{
	padding-bottom: -1px; /*This should be here due to bug in QT*/
}

QFrame#frContent QPlainTextEdit#txtOutput
{
	margin-left:0px;
	margin-right:0px;
}

QFrame#frContent QLineEdit:read-only {   
	background: #1a1a1a; 
}

QCheckBox {
	spacing: 5px;
  	color:#e6e6e6;
	background: #e6e6e6;
 	background-color: #1a1a1a;
}

QCheckBox::indicator {
width: 14px;
height: 14px;
	border: none;	
}

QCheckBox::indicator:unchecked:disabled {
image: url(:/Images/chk_unchecked_disabled.png);
}

QCheckBox::indicator:checked{
image: url(:/Images/chk_checked.png);
}

QCheckBox::indicator:unchecked:disabled {
image: url(:/Images/chk_unchecked_disabled.png);
}

QCheckBox::indicator:unchecked{
image: url(:/Images/chk_unchecked.png);
}

/* Customize radio buttons. */ 

QRadioButton {
	spacing: 5px;
  	color:#e6e6e6;
	background: #e6e6e6;
 	background-color: #1a1a1a;
}


QRadioButton::indicator {
width: 14px;
height: 14px;
}

QRadioButton::indicator::unchecked {
image: url(:/Images/radiobnone.png);
}


QRadioButton::indicator:checked{
image: url(:/Images/radiobcheck.png);
}


QFrame#frStatusBar
{
	background-color: transparent;
	border: 0px solid #285e8e;	
}

QFrame#frDevStatus
{
	background-color: transparent;
	border:none;
     border-top-width:1px;
     border-bottom-width:0px;
 	 border-color:#4d4d4d;
   border-style: solid;
   padding-left:10px;
}


QFrame#frModuleTitle
{
	background-color: #1a1a1a;
	border:none;
  	 border-color:#4d4d4d;
   border-style: solid;
   padding-left:10px;
}

QFrame#frDevStatus QLabel
{
	color:#FFFFFF;
	padding-left:10px;
	margin-left:10px;
	font: 10pt "Arial";
}

QFrame#frDevStatus QLabel#lblDevStatusTitle,
QFrame#frContent  QLabel#lblModuleInstanceName,
QFrame#frContent  QLabel#lblOutputTitle
{
	color:#4d4d4d;
	padding-left:10px;
	margin-left:0px;
	font: 12pt "CachetBold";
}

QFrame#frDevStatus QLabel#lblDevStatusTitle
{
	padding-bottom:10px;
}

QFrame#frContent  QLabel#lblModuleName
{

	font: 22pt "CachetBold";
}

QFrame#frContent  QLabel#lblComSettingsTitle,
QFrame#frContent  QLabel#lblWorkModeTitle,
QFrame#frContent  QLabel#lblModuleMailboxTitle
{
	color:#4d4d4d;
	padding-left:0px;
	margin-left:0px;
	font: 75 11pt "MS Shell Dlg 2";
}


QGroupBox#grpTAB_HEADER,
QGroupBox#grpTAB_DATA1,
QGroupBox#grpTAB_DATA2,
QGroupBox#grpTAB_DATA3,
QGroupBox#grpTAB_DATA4

{
	background-color: #1a1a1a;
	border:none;
 	 border-color:#4d4d4d;
   border-style: solid;
   padding-left:10px;
}





#scrollAreaLabelsDataContents,
QFrame#frReceiptLabels,
#scrollAreaTabData4Contents,
QFrame#frScrollAreaTabData4,
#scrollAreaTabData3Contents,
QFrame#frScrollAreaTabData3
{
	background-color: #1a1a1a;
	border:none;
    padding:10px;
	margin:0px;
 }

#scrollAreaLabelsData,
#scrollAreaTabData4,
#scrollAreaTabData3,
QFrame#frContent QScrollArea
{ 
  	color:#e6e6e6;
	background: #e6e6e6;
 	background-color: #1a1a1a;
	border: 1px solid #4d4d4d;	
  	border-left-width:0px;
   	border-right-width:0px;
     border-radius: 0px;
     padding: 0px;
     selection-background-color: darkgray;
}

QScrollBar:vertical {
    border-radius:0px; 
    border: 1px solid #4d4d4d;	
	background: #1a1a1a;
	width: 20px;
	margin: 30px 0px 30px 0px;
}
QScrollBar::handle:vertical {
	background: #dddddd;
	min-height: 20px;
}
QScrollBar::add-line:vertical {
	border-radius: 0px; 
	border: 1px solid #4d4d4d;	
    border-bottom-width:0px;
	border-top-width:0px;
	border:none;
	background:  #1a1a1a;
	height: 20px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
	margin-bottom: 5px;
}
QScrollBar::sub-line:vertical {
	border-radius: 0px;    
	border: 1px solid #4d4d4d;	
	border-bottom-width:0px;
	border-top-width:0px;
	border:none;
	background:#1a1a1a;
	height: 20px;
	subcontrol-position: top;
	subcontrol-origin: margin;
	margin-top: 5px;
}
QScrollBar::up-arrow:vertical {
	image: url(:/Images/spin_up.png);
	width: 10px;
	height: 10px;
}
QScrollBar::down-arrow:vertical {
	image: url(:/Images/spin_down.png);
	width: 10px;
	height: 10px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
     background: none;
}
 
QScrollBar:horizontal {
    border-radius:0px; 
	border: 1px solid #4d4d4d;	
    background: #1a1a1a;
    height: 20px;
    margin: 0px 30px 1px 30px;
}
QScrollBar::handle:horizontal {
	background: #dddddd;
	min-width: 20px;
}
QScrollBar::add-line:horizontal {
	border-radius: 0px; 
	border: 1px solid #4d4d4d;	
	border-bottom-width:0px;
	border-top-width:0px;
	border:none;
    background:  #1a1a1a;
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
	margin-right: 5px;
	margin-bottom: 1px;
}
QScrollBar::sub-line:horizontal {
	border-radius: 0px;    
	border: 1px solid #4d4d4d;
    border-bottom-width:0px;
	border-top-width:0px;
	border:none;
	background:#1a1a1a;
    width: 20px;
   	subcontrol-position: left;
	subcontrol-origin: margin;
	margin-left: 5px;
	margin-bottom: 1px;
}
QScrollBar:left-arrow:horizontal {
	image: url(:/Images/spin_left.png);
    width: 10px;
    height: 10px;
}
QScrollBar::right-arrow:horizontal {
	image: url(:/Images/spin_right.png);
    width: 10px;
    height: 10px;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
	background: none;
}


QGroupBox#groupBoxTransaction,
QGroupBox#groupBoxPlaza,
QGroupBox#groupBoxCard,
QGroupBox#groupBoxDateTime
{
	background-color: #1a1a1a;
	padding-left:10px;
    border: none;
    border-bottom: 1px solid #4d4d4d;
}


QFrame#frContent  #lblGroupBoxPlaza,
QFrame#frContent  #lblGroupBoxTrs,
QFrame#frContent  #lblGroupBoxDateTime
{
	color:#4d4d4d;
	padding-left:0px;
	margin-left:0px;
	font: 12pt "CachetBold";
}



QFrame#frContent #lblGroupBoxCard
{
	color:#4d4d4d;
	padding-left:0px;
	margin-left:0px;
	font: 12pt "CachetBold";
}

/*Customizing pop-up list of the QComboBox*/
 QComboBox QAbstractItemView {
	color:#e6e6e6;
    border: 1px solid #4d4d4d;
	background-color: #1a1a1a;
    selection-background-color: darkgray;
 }
 
QComboBox { 
    padding-right: 25px;
	font:11pt "Arial";
  	color:#e6e6e6;
	background: #e6e6e6;
 	background-color: #1a1a1a;
	border: 1px solid #4d4d4d;	
    border-radius: 5px;
    padding: 0 8px;
	height:30px;

    selection-background-color: darkgray;
	min-height: 1.3em;
}

QComboBox::drop-down {	
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;

    border-left-width: 1px;
    border-left-color: darkgray;
    border-left-style: solid; /* just a single line */
    border-top-right-radius: 3px; /* same radius as the QComboBox */
    border-bottom-right-radius: 3px;
	padding:1px;
}

QSpinBox::down-arrow,
QComboBox::down-arrow
{
    image: url(:/Images/spin_down.png);
    width: 9px;
    height: 9px;
}

QSpinBox::down-arrow:disabled,
QComboBox::down-arrow:disabled
{
   image: url(:/Images/spin_down_disabled.png);
}

QSpinBox::up-arrow {
    image: url(:/Images/spin_up.png);
    width: 9px;
    height: 9px;
}

QSpinBox::up-arrow:disabled {
   image: url(:/Images/spin_up_disabled.png);
}

QSpinBox { 
    padding-right: 25px;
  	color:#e6e6e6;
	background: #e6e6e6;
 	background-color: #1a1a1a;
	border: 1px solid #4d4d4d;	
     border-radius: 5px;
     padding: 0 5px;
	 height:22px;

     selection-background-color: darkgray;
	min-height: 22px;

}

QSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
 	height:12px;
    width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
    /*border-image: url(:/Images/spinup.png) 1;*/
	border: 1px solid #4d4d4d;	
   border-bottom-width:0px;     
   border-top-width:0px;     
  border-right-width:0px;     

margin:0px 2px 0px 2px;
padding:1px;
	background-color: transparent;
}
/*
QSpinBox::up-button:hover {
    border-image: url(./Images/spinup_hover.png) 1;
}

QSpinBox::up-button:pressed {
    border-image: url(./Images/spinup_pressed.png) 1;
}
*/
QSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
	height:12px;
    width: 20px;
   /* border-image: url(:/Images/spindown.png) 1;*/
	border: 1px solid #4d4d4d;	
    border-top-width:0px;     
   border-bottom-width:0px;     
    border-right-width:0px;     
margin:0px 2px 1px 2px;
	background-color: transparent;
padding:1px;
    
}




QTabWidget{
	background-color: #1a1a1a;
		color:#e6e6e6;
	border:1px solid #4d4d4d; 
}

QWidget#WDG_TAB1,
QWidget#WDG_TAB2,
QWidget#WDG_TAB3,
QWidget#WDG_TAB4,
QWidget#WDG_TAB5,
QWidget#WDG_TAB6
{
	background-color: #1a1a1a;

}


QTabWidget::pane
{
   background-color: #1a1a1a;
	border:0px solid #4d4d4d; 
     border-top-width:1px;
     border-bottom-width:0px;
		margin-bottom: 5px;

}

QTabBar
{
	background-color: #1a1a1a;
	color:#e6e6e6;
}

QTabBar::tab
{
	/*background-image: url(./images/dialog/button-first-tab-disabled.png);*/
	border: 1px solid #4d4d4d; 
	border-radius:5px;
	min-height: 20px;
	max-height: 32px;
	text-align: left;
	color:#4d4d4d;

	height: 30px;
	width: 125px;
	padding:5px;
	margin-left: 0px;        
	margin-bottom: -10px;
	font: 11pt "CachetBold";
	border-bottom-width: 0px;
 }

QTabBar::tab:selected
{
	/*background-image: url(./images/dialog/button-first-tab.png);*/
   color:#FF8800;
	padding:2px 5px 5px 5px;
}

QTabBar::tab:last,
QTabBar::tab:middle
{
	/*background-image: url(./images/dialog/button-other-tab-disabled.png);
	width: 53px;
	margin-left: -10px; */
}

QTabBar::tab:last:selected,
QTabBar::tab:middle:selected
{
	/*background-image: url(./images/dialog/button-other-tab.png);*/
}
